#rev-img img {
  border: none;
}

.hold-here-rev {
  position: relative;
  top: -105px;
  z-index: 2;
}

.show-text {
  h2{
    a {
      color: $verdigris;
    }
  }
}

@media(max-width: 360px) {
  .hold-here-rev {
    position: relative;
    top: -85px;
    z-index: 2;
  }
}
