<!-- The Modal -->
<div class="modal fade" id="myModal">
  <div class="modal-dialog">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Filter by Tag</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
        <div>
          <%= simple_form_for :search, url: venues_path, method: :get do |f| %>
            <%= f.input :all_tags, collection: $tagnames,
                  as: :check_boxes,
                  collection_wrapper_tag: 'div',
                  item_wrapper_class: 'tag-item',
                  input_html: {class: 'tag-selector'}
            %>
            <%= f.submit "Filter Venues", class: "btn-block btn-lp" %>
          <% end %>
        </div>
      </div>
      
    </div>
  </div>
</div>
