<div class="navbar navbar-lewagon">
  <div class="d-flex justify-content-end w-100">
    <% if user_signed_in? %>
        <%= link_to "Log out", destroy_user_session_path, class: "nav-link pb-0", method: :delete %>
    <% else %>
        <%= link_to "Login", new_user_session_path, class: "nav-link pb-0" %>
    <% end %>
   </div>
  <div class="w-100">
    <h1>CityDog</h1>
    <p>Dog friendly venues</p>
    <p><em>So your furry friend can come too</em></p>
  </div>
</div>
