<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1601758004484-733647916908?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=634&q=80);">
  <div class="container">
    <div class="d-flex justify-content-center row">
      <div class="banner-content">
        <%= link_to "Find a Venue", venues_path, class: "btn-block btn-lp" %>
      </div>
    </div>
  </div>
</div>
