<div class='window'>
  <div class="title-rate">
    <h2><%= venue.name %></h2>
    <p><%= ((venue.reviews.map { |review| review.rating }.sum.to_f) / venue.reviews.length).round(1) %> <i class="fas fa-paw"></i></p>
  </div>
  <p><%= venue.address %></p>
  <%= link_to "SEE #{venue.category.upcase}", venue_path(venue.id), class: "btn-block btn-lp" %>
</div>

