<div class='window'>
  <div class="title-rate">
    <h2><%= venue.name %></h2>
    <p><%= ((venue.reviews.map { |review| review.rating }.sum.to_f) / venue.reviews.length).round(1) %> <i class="fas fa-paw"></i></p>
  </div>
  <p><%= venue.address %></p>
  <% unless request.fullpath.match('venues\/\d+') %>
    <%= link_to "SEE VENUE", venue_path(venue.id), class: "btn-block btn-lp" %>
  <% end %>
</div>

