#tag-form {
  position: relative;
  a {
    i {
      color: $bittersweet;
      position: absolute;
      font-size: 24px;
      left: 8px;
      top: 30%;
    }
  }

  div {
    margin: auto;
    input {
      margin: 8px;
    }
    input[type=submit] {
      border: none;
    }
  }
}
