.mapboxgl-popup {
  max-width: 225px;
}

.mapboxgl-popup-content {
  text-align: center;
  .window {
    padding: 8px;
    a {
      outline: none;
    }
  }

  p {
    margin: .5em;
  }
  .title-rate {
    margin-top: 8px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    h2 {
      font-size: 1.5em;
      color: $bittersweet;
      margin: 0;
    }
    p {
      margin: 0 0 0 4px;

    }
  }

}

#map {
  margin-bottom: 16px;
}
