.notification {
  display: flex;
  align-items: center;
  margin-bottom: 16px;
  background: transparent;
  padding: 2px 4px;
}

.notification .notification-content {
  flex-grow: 1;
  padding: 0 16px;
}

.date-rev {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;

  .paw {
    color: $bittersweet;
    font-size: 12px;
    margin-top: 2px;
    margin-bottom: 2px;
    margin-right: 16px;
  }
}

.notification p {
  margin: 0;
  line-height: 1.4;
  font-size: 14px;
  width: 250px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.notification small {
  color: #999999;
  font-weight: bold;
}

.notification .notification-actions {
  opacity: 0;
  display: flex;
  transition: ease .3s;
}

.notification:hover .notification-actions {
  opacity: 1;
}

.notification .notification-actions a {
  color: #999999;
  margin-left: 16px;
  font-size: 14px;
}

.notification .notification-actions a:hover {
  color: #555555;
}
