<ul class="list-group">
  <% @venue.reviews.each do |review| %>
    <li class="list-group-item"><%= review.rating %></li>
    <li class="list-group-item"><%= review.comment %></li>
    <li class="list-group-item"><%= review.photo %></li>
  <% end %>
</ul>
